* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #ccc;
    font-family: 'Fredoka', sans-serif;
  }
  
  .main {
    position: relative;
    width: 100%;
  }
  #form{
    margin-top: 120px;
  }
  #header {
    position: fixed;
    min-height: 75px;
    top: 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #how-it-works {
    text-align: center;
  }
  #nav-bar {
    position: fixed;
    right: 5%;
  }
  #nav-bar ul li {
    display: inline-flex;
    list-style: none;
    margin-left: 35px;
  }
  #nav-bar a {
    text-decoration: none;
    color: inherit;
  }
  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  .first {
    display: block;
    text-align: center;
  }
  .first #email {
    padding: 5px;
    width: 270px;
    border-radius: 3px;
    border: 1px solid black;
    margin: 20px auto 10px auto;
  }
  .first #submit {
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background: orange;
    margin-bottom: 60px;
  }
  .second {
    margin: 40px auto;
  }
  .second  .row-one{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .second  .row-two{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .second  .row-three{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .second p {
    margin-bottom: 50px;
  }
  .second i {
    margin: 40px 40px 40px 80px;
  }
  #video {
    text-align: center;
    margin-bottom: 40px;
  }
  .third {
    display: flex;
    flex-flow: row wrap;
  }
  .third .card {
    border: 2px solid grey;
    flex: 1;
    width: 33%;
    margin: 10px;
    text-align: center;
    height: 300px;
  }
  .third .card h4 {
    background: darkgrey;
    padding: 15px;
  }
  .third .card p {
    line-height: 1.8;
  }
  .third .card h2 {
    line-height: 2.5;
  }
  .third .card button {
    margin: 20px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    background: tomato;
  }
  #submit:hover {
    color: white;
    background: red;
  }
  #footer {
    background: darkgrey;
    width: 1000px;
    margin: 30px auto 0 auto;
    padding: 20px;
  }
  #footer ul {
    display: flex;
    justify-content: end;
  }
  #footer ul li {
    list-style: none;
    flex-wrap: column wrap;
    margin-right: 20px;
  }
  #footer a {
    text-decoration: none;
    color: inherit;
  }
  #footer p {
    display: flex;
    justify-content: flex-end;
    line-height: 1.8;
  }
  @media(max-width: 1000px) {
    #footer {
      width: 100%;
    }
  }
  @media(max-width: 800px) {
    .third {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
  }
    .third .card {
      width: 300px;
    }
  }
  @media(max-width: 560px) {
    #video iframe {
      width: 100%;
    }
  }
  @media(max-width: 648px) {
    #nav-bar {
      position: fixed;
      right: 20%;
      width: 25%;
      text-align: center;
    }
  }
  @media(max-width: 600px) {
    #header {
      display: flex;
      flex-direction: row;
      justify-items: center;
      width: 100%;
      height: 120px;
    }
    #header #header-img {
      position: fixed;
      top: 1%;
    }
    #header #nav-bar {
      position: fixed;
      top: 6%;
      right: 40%;
      margin: auto;
    }
    #form{
    margin-top: 150px;
  }
  }
  
  